---
import ExperienceCard from "@/components/cards/ExperienceCard.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { EXP } = i18n;

const experiencieLenguage = EXP.EXPERIENCE;
---

<SectionContainer title={EXP.title}>
    <div class="flex w-full md:w-3/4 px-3 md:m-auto gap-10 relative">
        <div class="w-1 rounded-full bg-stone-900 flex justify-center relative">
        </div>
        <div class="w-1 rounded-full absolute bg-accent" id="timeline"></div>
        <div class="flex flex-col gap-24 w-full">
            {
                experiencieLenguage.map((exp) => (
                    <div class="relative">
                        <ExperienceCard
                            title={exp.title}
                            company={exp.company}
                            location={exp.location}
                            date={exp.date}
                            descriptions={exp.descriptions}
                        />
                    </div>
                ))
            }
        </div>
    </div>
</SectionContainer>

<style>
    #timeline {
        animation: view auto linear both;
        animation-timeline: view(block 20% 60%);
    }
    @keyframes view {
        from {
            height: 0;
        }
        to {
            height: 100%;
        }
    }
</style>
