---
import Header from "@/components/Header.astro";
import "@fontsource-variable/rubik";
import "@fontsource-variable/outfit";
import { getLangFromUrl } from "@/i18n/utils";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={`${Astro.site}/openGraph.png`} />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main class="relative min-h-screen">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		/* Fonts */
		--primary-font: "Rubik Variable", sans-serif;
		--secondary-font: "Outfit Variable", sans-serif;
		/* Colors */
		--primary-color: #102847;
		--accent-color: #00f2ff;
	}

	html {
		font-family: var(--primary-font);
	}

	body {
		background: linear-gradient(
			180deg,
			var(--primary-color) 0%,
			#060f1b 70%
		);
		overscroll-behavior: none;
		color: #fff;
	}

	strong {
		color: var(--accent-color);
	}
</style>
